<br>
<p class="text-center text-monospace">Made with <i class="far fa-heart"></i> in the Holly <i class="far fa-moon"></i> of Ramadhan</p>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item">
      <p class="text-monospace">Eryk Budi Pratama</p>
    </div>
    <div class="carousel-item">
      <p class="text-monospace">Nugroho Budiarto</p>
    </div>
    <div class="carousel-item">
      <p class="text-monospace">Alga Yusri</p>
    </div>
    <div class="carousel-item active">
      <p class="text-monospace">Sigit Wijanarko</p>
    </div>
  </div>
</div>