<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"> <span class="badge badge-info">MENU URT</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i> 
          {{# if userLogged }}
            {{ userLogged.email}}
          {{else}}
            Akun Anda
          {{/if}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{# if login }}
            <a class="dropdown-item" href="/user/profile">Profil Anda</a>
            <a class="dropdown-item" href="/user/history">Sejarah Pembelian</a>
            <a class="dropdown-item" href="/user/complaint">Pengaduan dan Saran</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/user/logout">Keluar dari Akun</a>
          {{ else }}
            <a class="dropdown-item" href="/user/signin">Masuk ke Akun</a>
            <a class="dropdown-item" href="/user/signup">Daftar Akun Baru</a>
          {{/if}}
          
        </div>
      </li>

      <li class="nav-item">
        <a href="/shopping-cart" class="nav-link" >
          <i class="fas fa-shopping-cart"></i> Keranjang Belanja 
            {{#if session.cart.totalQty}} 
              <span class="badge badge-secondary">{{session.cart.totalQty}}</span>
            {{/if}}
        </a>
      </li>

      <li class="nav-item">
        <a href="/faq" class="nav-link"><i class="far fa-question-circle"></i>&nbsp;Perihal URT</a>
      </li>
    </ul>
  </div>
</nav>