 <div id="accordion">

  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseOne">
        Pemesanan Paket Makanan
      </a>
    </div>
    <div id="collapseOne" class="collapse show" data-parent="#accordion">
      <div class="card-body">
        Untuk melakukan pemesan paket makanan, dilakukan dengan menekan tekan tombol 'Tambah' untuk memasukan paket makanan yang diinginkan ke keranjang belanja.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
        Pembayaran Pesanan
      </a>
    </div>
    <div id="collapseTwo" class="collapse" data-parent="#accordion">
      <div class="card-body">
        Untuk melakukan pembayaran pesanan, dilakukan dengan mengisi semua data yang dibutuhkan pada halaman pembayaran. Pembayaran yang saat ini dapat kami terima adalah menggunakan Kartu Kredit.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
        Sejarah Pembelian
      </a>
    </div>
    <div id="collapseThree" class="collapse" data-parent="#accordion">
      <div class="card-body">
        Untuk melihat pesanan-pesanan lampau yang telah Anda bayar, Anda diharuskan login terlebih dahulu, dan dari menu 'user' Anda, lalu pilih sejarah pembelian.
      </div>
    </div>
  </div>

</div> 